@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
  font-family: 'Roboto Condensed', sans-serif;
}

/* Header */
.header {
  position: relative;
  height: 600px;
  background-color: #333;
  /*background-image: url(../img/bg/tumblr_static_etat6yihd80soc0ows04k80w4.jpg);*/
  /*background-image: url(../img/bg/www.GetBg.net_Creative_Wallpaper_Tattered_pages_of_a_book_098541_.jpg);*/
  /*background-image: url(../img/bg/dreamstime_m_22214219-edit.jpg);*/
  /*background-image: url(../img/bg/UN-Building.jpg);*/
  /*background-image: url(../img/bg/4818368705_d8f96c0518_o.jpg);*/
  background-image: url(../img/bg/books-magazines-building-school.jpg);
  /*background-image: url(../img/bg/1-SxOosWP-ErhCdsnuhZMZwQ.jpeg);*/
  /*background-image: url(../img/bg/6706843-United_Nations_Headquarters_New_York_New_York_City.jpg);*/
  background-repeat: no-repeat;
  background-position: center bottom;
}
.header-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Panel Contacts */
.panel-contacts {
  color: #fff;
  width: 100%;
  clear: both;
  display: table;
}
.panel-home {
  margin: 15px 0;
}
.panel-home > p {
  color: #fff;
}
.panel-home > p > a {
  color: #fff;
}
.panel-phones {
  text-align: right;
  font-size: 15px;
  margin-top: 23px;
}
.menu {
  margin: 30px auto;
  height: 70px;
  background-color: #fff;
  border-color: #080808;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}
.logo {
  height: 60px;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}
.logo-word {
  margin-top: 25px;
  text-transform: uppercase;
}
.menu-list {
  text-align: right;
  font-size: 15px;
  margin-top: 23px;
  text-transform: uppercase;
}
.delimiter {
  position: absolute;
  top: 15px;
  width: 1px;
  height: 40px;
  background-color: #999;
}
.time {
  font-size: 60px;
}
.header-marketing {
  color: #fff;
  margin: 150px 50px 100px;
  /*text-align: center;*/
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 1);
}
.header-marketing h1 {
  font-size: 60px;
  /*font-weight: bold;*/
}
.header-second {
  /*font-size: 50px;*/
}

/* About */
.about {
  padding: 50px 0;
  text-align: center;
}
.about > .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 50px;
}
.about-header {
  font-size: 18px;
  /*font-weight: bold;*/
}
.about-description {
  color: #666;
  font-size: 15px;
}


/* Programms */
.programms > div {
  position: relative;
}
.programm {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Price */
.price {
  padding: 50px 0;
}
.table-price > thead > tr > td:not(:nth-child(1)),
.table-price > tbody > tr > td:not(:nth-child(1)) {
  text-align: right;
}

/* Send Form */
.send-form {
  height: 600px;
  /*background-image: url(../img/bg/calc.jpg);*/
  /*background-position: center bottom;*/
}
.send-form > div:first-child {
  height: 100%;
  background-image: url(../img/bg/calc.jpg);
  background-position: center bottom;
}
.send-form > div:nth-child(2) {
  height: 100%;
  padding: 50px 0;
  background-color: #CFD8DC;
}
.send-form .file {
  margin-left: 16px;
}

.form-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 9);
}
.send-form label {
  margin-left: 16px;
}
.send-form .input-lg {
  border-radius: 26px;
}
.send-form .btn-bordered {
  border-radius: 26px;
  text-align: center;
}
.calc-title {
  /*margin: 0 -120px;*/
  /*font-size: 44px;*/
  /*color: #426AF8;*/
}


/* Footer */
.footer {
  color: #fff;
  padding: 50px 0;
  background-color: #263238;
}