
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-18 {
  position: relative;
  top: 0.2em;
  font-size: 18px;
}
.material-icons.md-24 {
  position: relative;
  top: 0.2em;
  font-size: 24px;
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.color-brand { color: #4269f8; }

body {
  font-family: 'Roboto Condensed', sans-serif;
}
.list-inline>li {
  vertical-align: middle;
}

/* Header */
.header {
  position: relative;
  height: 600px;
  background-color: #333;
  background-image: url(../img/courses/books-magazines-building-school.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.header-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.dark-layer {
  width: 100%;
  background-color: rgba(26, 32, 38, 0.7);
}
/* Panel Contacts */
.panel-contacts {
  color: #fff;
  width: 100%;
  clear: both;
  display: table;
}
.panel-home {
  margin: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}
.panel-home > p {
  color: #fff;
}
.panel-home > p > a {
  color: #fff;
}
.panel-phones {
  text-align: right;
  font-size: 15px;
  margin-top: 20px;
}
.menu {
  margin: 30px auto;
  height: 70px;
  /*background-color: #fff;*/
  /*background-color: #1b1919;*/
  background-color: #263238;
  border-color: #080808;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}
.logo {
  height: 60px;
  margin-top: 5px;
  margin-right: 10px;
  float: left;
}
.logo-word {
  color: #fff;
  margin-top: 25px;
  text-transform: uppercase;
}
.menu-list {
  text-align: right;
  font-size: 15px;
  margin-top: 23px;
  text-transform: uppercase;
}
.delimiter {
  position: absolute;
  top: 15px;
  width: 1px;
  height: 40px;
  background-color: #999;
}
.time {
  font-size: 60px;
}
.header-marketing {
  color: #fff;
  margin: 150px 50px 100px;
  /*text-align: center;*/
  text-shadow: 1px 1px 11px rgba(0, 0, 0, 1);
}
.header-marketing h1 {
  font-size: 60px;
  /*font-weight: bold;*/
}
.header-second {
  /*font-size: 50px;*/
}

/* About */
.about {
  padding: 50px 0;
  text-align: center;
}
.about > .row {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 50px;
}
.about-header {
  font-size: 18px;
  /*font-weight: bold;*/
}
.about-description {
  color: #666;
  font-size: 15px;
}


/* Programms */
.programms > div {
}
.programm {
  color: #fff;
  position: relative;
  /*bottom: 0;*/
  /*width: 100%;*/
  padding: 30px;
  cursor: pointer;
  background-color: #263238;
}
.collapse {
  padding: 20px 45px;
}


/* Price */
.price {
  padding: 50px 0;
}
.table-price > thead > tr > td:not(:nth-child(1)),
.table-price > tbody > tr > td:not(:nth-child(1)) {
  text-align: right;
}

/* Fixed Call Button */
.fixed-button {
  position: fixed;
  right: 5%;
  bottom: 10%;
  padding: 15px;
  border-color: #080808;
  border-radius: 50%;
  /*border-top-right-radius: 50px;*/
  /*border-top-left-radius: 50px;*/
  /*border-bottom-right-radius: 50px;*/
  /*border-bottom-left-radius: 50px;*/
  -webkit-box-shadow: 0px 0px 15px 0px rgba(58, 74, 104, 0.55);
  -moz-box-shadow: 0px 0px 15px 0px rgba(58, 74, 104, 0.55);
  box-shadow: 0px 0px 15px 0px rgba(58, 74, 104, 0.55);
  background-color: rgba(26, 32, 38, 0.9);
}
.fixed-button > a {
  color: #fff;
  display: block;
  width: 100;
  height: 100%;
}
.fixed-button > a > i {
  /*position: relative;*/
  /*top: 0.1em;*/
}

/* Footer */
.footer {
  color: #fff;
  padding: 50px 0;
  background-color: #263238;
}